#favourites {
  list-style: none;
  padding: 0;
  li {
    cursor: grab;
    &:active {
      cursor: grabbing;
    }
  }
}

.rooms-header {
  padding: 20px;
  width: 100%;
  // margin: 20px;
  margin-top: 80px;
  border-radius: 10px;
  color: $dark-blue;
  font-weight: bold;
}

#favourites-tagline {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
