@media(min-width: 768px) {
    .banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #intro {
       position: inherit;
    }
    #logo {
        left: 25%;
        top: 50%;
    }
    #steps {
        display: inline-flex;
        padding: 30px;
        justify-content: space-around;
    }
    #big-card {
        width: 40vw;
    }
    #small-card {
        img {
            width: 30%;
        }
    }
    .footer {
        justify-content: center;
    }
  }

  .get-started {
      opacity: 1;
      color: $dark-blue;
      border: 1px solid $dark-blue;
      font-weight: bold;
    }
