.index-container {
  color: $yellow;
  h5 {
    padding: 10px;
    margin-bottom: 10px;

  }
  img {
    margin-bottom: 0;
    margin-top: 0;
  }
  .btn {
    margin-top: 5px;
  }
  div{
    text-align: center;
  }
}

.noUi-value {
  color: $yellow;
}

.noUi-base {
  background-image: linear-gradient(to right, #ffff00 20%, #fdfd96 20%, #fff8dc 80%, #fffacd 80%);
}
