.index-container {
  color: $yellow;
  h5 {
    padding: 10px;
    margin-bottom: 10px;
  }

  h2 {
    color: $yellow;
  }
  img {
    margin-bottom: 0;
    margin-top: 0;
  }
  .btn {
    margin-top: 5px;
  }
  div{
    text-align: center;
  }

  .card-product {
    width: 100%;
    background-color: #263238;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    p {
      color: $yellow;
    }
  }

  .card-product:hover {
    box-shadow: 0 0 15px rgba($yellow,1);
  }

  .link:hover {
    text-decoration: none;
  }

  .card-product img {
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba($yellow,1);
  }
}

.noUi-value {
  color: $yellow;
}

.noUi-base {
  background-image: linear-gradient(to right, #fffacd 20%, #fff8dc 20%, #fdfd96 80%, #ffff00 80%);
}
