.upload-container{

  h2{
    color: $yellow;
  }
}

.photo{
  width: 100%;
}

.content{
  background-color: #f8f6e7;
  padding: 10px;
}

.upload-image-form{
  position: relative;
  top: 40px;
  width: 300px;
  right: 65px;
}
