<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1556401615-c909c3d67480?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);">
  <div class="container">
    <h1>Illuminate</h1>
    <p>How many coders does it take to change a lightbulb?</p>
    <a class="btn btn-primary" href="#">Upload photo</a>
  </div>
</div>

<div class="container">
    <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-product-infos">
        <h2>How it works</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    </div>

    <div class="card-product">
    <div class="card-product-infos">
        <h2>How it works</h2>
        <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    </div>
</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
