<div>
  <div class="d-flex justify-content-around font-weight-bold">
    <p> <%= shop.name %> </p>
    <p class="text-success">in stock</p>
  </div>
  <p class="text-muted text-center px-2 py-2"> <%= shop.address %> </p>
  <div class="d-flex justify-content-around">
    <p class=" font-weight-bold">&nbsp Price: £6 &nbsp</p>
    <%= link_to "Buy now", 'https://www.diy.com/departments/diall-e27-15w-1521lm-gls-neutral-white-led-light-bulb/3663602667261_BQ.prd', class: "btn btn-sm btn-secondary" %>
  </div>
</div>
